/* =========================
   VARIABLES GLOBALES
   ========================= */
* {
    -fx-base-color: #09b6bc;
    -fx-base-color-focus: #09b6bc;
    -fx-base-color-unfocus: #4d4d4d;
    -fx-base-color-etiquetas: #4d4d4d;
    -fx-base-color-texto: #000000;
    -fx-base-color-titulos: #51b6cd;
    -fx-base-color-error: #d34336;
    -fx-base-color-id: #00c853;
    -fx-color-primary-700: #095e8a;
    -mfx-main: -fx-base-color-focus;
    -mfs-purple: -fx-base-color-focus;
}

.mfx-text-field {
    -mfx-float-mode: BORDER;
    -fx-font-size: 14px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-alignment: TOP_LEFT;
    -fx-text-fill: -fx-base-color-texto;
    -fx-prompt-text-fill: -fx-base-color-etiquetas;
}

.mfx-text-field .text-field {
    -fx-highlight-fill: -fx-base-color-titulos;
}

.mfx-button {
    -mfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
}

.mfx-button .mxf-ripple-generator {
    -mxf-ripple-color: white;
}

.button:hover {
    -fx-background-color: #ff6d00;
    -fx-text-fill: white;
}

.mfx-checkbox {
    -fx-font-size: 14.0px;
    -fx-pref-height: 26px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-text-fill: -fx-base-color-etiquetas;
    -mfx-main: -fx-base-color-focus;
    -mfx-secondary: -fx-base-color-unfocus;
}

.mfx-radio-button {
    -fx-font-size: 14.0px;
    -fx-pref-height: 26px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-text-fill: -fx-base-color-etiquetas;
    -mfx-main: -fx-base-color-focus;
    -mfx-secondary: -fx-base-color-unfocus;
}

.mfx-date-picker {
    -fx-font-size: 14.0px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.mfx-date-cell:current {
    -fx-text-fill: -fx-base-color-focus;
}

.mfx-date-cell:selected {
    -fx-background-color: -fx-base-color-focus;
}

.separator {
    -fx-background-color: -fx-base-color-focus;
}

/* =========================
   BOTONES
   ========================= */

.jfx-btn,
.jfx-btn:armed,
.jfx-btn:focused {
    -fx-background-color: #2196f3;
}

.jfx-btn:hover {
    -fx-background-color: #ff6d00;
    -fx-text-fill: white;
}

.jfx-btnimg-tbveliminar{
    -fx-opacity: 0.8;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-color: #f44336;
    -fx-background-image : url("../resource/Eliminar-48.png");
}

/* =========================
   PANELES
   ========================= */

.jfx-panel-fondo-tipos {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%,
            -fx-base-color 0%,
            #2196f3 100%);
    -fx-opacity: 0.8;
}

.jfx-fondo-translusido,
.jfx-fondo-translusido:armed,
.jfx-fondo-translusido:focused {
    -fx-background-color:
        #FFFFFF52,
        #FFFFFF2E;

    -fx-background-insets: 0, 1;
    -fx-background-radius: 10, 10;

    -fx-border-color: #FFFFFF66;
    -fx-border-radius: 10px;

    -fx-effect: dropshadow(gaussian, #00000026, 25, 0.2, 0, 8);
}

.jfx-contenedor-tipos {
    -fx-background-color: white;
    -fx-background-radius: 10px;

    -fx-border-color: #97a692;
    -fx-border-radius: 10px;

    -fx-padding: 25 15 15 15;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.15), 20, 0.7, 0, 1.5);
}

.jfx-panel-fondo {
    -fx-background-color: #2196f3;
    -fx-opacity: 0.8;
}

.jfx-panel-fondo>VBox {
    -fx-background-color: white;
    -fx-border-color: #97a692;
    -fx-border-width: 10px;
}

.jfx-contenedor-principal {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-padding: 25 15 15 15;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.15), 10, 0.7, 0, 1.5);
}

/* =========================
   ETIQUETAS
   ========================= */

.jfx-titulo-label {
    -fx-font-size: 24px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: -fx-base-color-titulos;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0, 0.6), 2, 0, 1, 2);
}

.jfx-titulo-tipos {
    -fx-font-size: 28px;
    -fx-padding: 1 5 1 5;
    -fx-text-fill: -fx-base-color-titulos;
    -fx-font-weight: bold;

    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%,
            #d37436 0%,
            #d34336 50%,
            #d3366e 100%);
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0, 0.6), 2, 0, 1, 2);
}

.jfx-titulo-tabla {
    -fx-font-size: 14px;
    -fx-padding: 1 5 1 5;
    -fx-text-fill: -fx-base-color-titulos;
    -fx-font-weight: bold;

    -fx-text-fill: linear-gradient(from 0% 0% to 100% 0%,
            #09b6bc 0%,
            #098bbe 50%,
            #095e8a 100%);
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0, 0.6), 2, 0, 1, 2);

}

/* =========================
   TABLA
   ========================= */

.table-view,
.table-view:armed,
.table-view:focused {
    -fx-table-cell-border-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #eaeaea;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 0%,
            #d4eeef 0%,
            #b2e1e3 100%);
    -fx-focus-color: transparent;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, -fx-color-primary-700, 3, 0.3, 0, 0);
}

.column-header {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 16 16 0 0;
    -fx-border-radius: 16 16 0 0;
    -fx-border-width: 0 0 0.7 0;
    -fx-padding: 0 0 0 10;
}

/* =========================
   ESPECIFICOS
   ========================= */

#jfx-btn-nuevo {
    -fx-background-color: #2196f3;
}

#jfx-btn-nuevo:hover {
    -fx-background-color: #ff6d00;
}

#jfx-btn-nuevo>ImageView {
    -fx-image: url("../resource/Agregar-48.png");
}

#jfx-btn-buscar {
    -fx-background-color: -fx-base-color;
}

#jfx-btn-buscar:hover {
    -fx-background-color: #ff6d00;
}

#jfx-btn-buscar>ImageView {
    -fx-image: url("../resource/Buscar-48.png");
}

#jfx-btn-eliminar {
    -fx-background-color: -fx-base-color-error;
}

#jfx-btn-eliminar:hover {
    -fx-background-color: #ff6d00;
}

#jfx-btn-eliminar>ImageView {
    -fx-image: url("../resource/Eliminar-48.png");
}

#jfx-btn-guardar {
    -fx-background-color: -fx-base-color-id;
}

#jfx-btn-guardar:hover {
    -fx-background-color: #ff6d00;
}

#jfx-btn-guardar>ImageView {
    -fx-image: url("../resource/Guardar-48.png");
}